

/*  Logos */
.logo {
    display: flex;
    margin-left: 1rem;
}
.logo_title{
    margin-left: 1rem;
    font-size: 1.5rem;
}

.bookshelf_logo {
    height: 60px;
    width: 60px;
}


/* Shelfs and main Container */
.main_container{
    width: 100%;
    padding: 1.5rem 0; 
    text-align: center;      
}

.shelf {    
    /* background-color: rgb(190, 190, 190); */
    display: grid;
    position: relative;
    grid-template-columns: repeat(3,30%);
    margin-top: 10px;
    grid-gap: 40px;
    padding: 10%;
  
}

.status_bar {
    background-color: rgba(100, 148, 237, 0.3);
    flex-direction: row;
    justify-content: space-between;
    align-content: center;
    height: 35px;  
    font-size: 0.9rem;
    margin: 8px;
}

/* Buttons */

.addBookBtn {
    display: flex;
    font-size: 1.5rem;
    margin: auto;
    border-radius: 10px;
    width: 160px;
    height: 40px;
}

.submit-btn {
    display: flex;
    font-size: 1.5rem;
    justify-content: center;
    margin: auto;
    border-radius: 10px;
    width: 160px;
    height: 40px;
}


/* Footer */

.footer{
    display: flex;
    position: fixed;
    bottom: 0;
    flex-direction: row;
    justify-content: space-between;
}

.madeby{
    display: inline-block;
    font-size: 0.7rem;
}

.cite {
    display: inline-block;
    font-size: 0.6rem;
}


/* Modals */
.modal {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(0);
    transition: 250ms ease-in-out;
    border: 1px solid black;
    border-radius: 10px;
    z-index: 10;
    background-color: white;
    width: 400px;
    max-width: 80%;    
}

.modal.active {
    transform: translate(-50%, -50%) scale(1);
}

.modal-header {
    padding: 10px 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid black;

}

.modal-header .title-big {
    font-size: 1.25rem;
    font-weight: bold;
}

.modal-header .close-modal-btn {
    cursor: pointer;
    border: none;
    outline: none;
    background: none;
    font-size: 2rem;
    font-weight: bold;
}

.modal-body {
    padding: 10px 15px;
}

#overlay {
    position: fixed;
    opacity: 0;
    top:0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0,0,0,0.6);
    pointer-events: none;
}

#overlay.active {
    opacity: 1;
    pointer-events: all;

}

/* Form Styling */
.formAddBooks{
    display: flex;
    flex-flow: column;
    padding: 10px;
    justify-content: space-between;
  
}

.input{
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 10px;
    border: 1px solid black;
}

.form-title-big{
    margin: auto;
}

.isRead-btn { 
    justify-content: center;
    margin: auto;
    padding: 5px;
}

/* Cards */
.book-card{
    display:flex;
    flex-flow: column;
    align-items: center;
    padding: 15px;

    background-color: rgba(145, 111, 60, 0.6)
}


/* Visual changes */

.green-btn{
    background-color: rgba(135, 222, 142, 1);
}

.red-btn {
    background-color: rgba(182, 28, 28, 0.6);
}

.read-btn{
    width: 100px;
    height: 50px;
    margin-right: 5px;
}

.del-btn {
    width: 100px;
    height: 50px;
    margin-left: 5px;
}

.modal-buttons{
    justify-content: flex-end;
    display:flex;
    width: 100px;
    height: 50px;
}